doctype html
html(lang="ru")
  include common/_head

  body

    header.header--about

      .header-top__wrap
        include common/_social
        include common/_menu

      //.video__wrap
      //  video(autoplay loop muted class="bgvideo" id="bgvideo")
      //    source(src="assets/img/night.mp4", type="video/mp4")

      div.avatar__wrap.avatar__wrap--header
        .avatar-image__wrap
          img.avatar(src="assets/img/avatar_2.jpg", alt="Avatar")
        h2.card__title.card__title--header Денис Корниенко
        p.card__text.card__text--header Личный сайт веб разработчика

    main
      about-me__container
        section.about-me
          .about-me__wrap
            h2.about-me__title Обо мне
            .about-me__info
              .about-me-image__wrap
                img.about-me__image(src="assets/img/avatar_5.jpg", alt="Мое фото")
              h3.about-me__title-small Кто я
              p.about-me__text.
                Я веб разработчик из Геленджика. Мне 38 лет. Я занимаюсь разработкой современных сайтов и приложений.
                Мне нравится делать интересные и современные проекты.
              p.about-me__text.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.features
          h3.features__title Чем я могу быть вам полезен
          p.features__text.
            Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные
            задачи на Backend. Но давайте по порядку.
          include common/_skills

        section.info
          .contacts
            h2.contacts__title Контакты
            ul.contacts__list
              li.contacts__item
                svg
                  use(xlink:href="#skype_n")
                a.contacts__link.contacts__link--skype(href="skype:korney197823") korney197823
              li.contacts__item
                svg
                  use(xlink:href="#envelope_n")
                a.contacts__link.contacts__link--mail(href="mailto:korney197823@gmail.com") korney197823@gmail.com
              li.contacts__item
                svg
                  use(xlink:href="#phone_n")
                a.contacts__link.contacts__link--phone(href="tel:+79883337098") +7&thinsp;988&thinsp;333&thinsp;70&thinsp;98
              li.contacts__item
                svg
                  use(xlink:href="#map_n")
                span.contacts__link  г. Геленджик, ул. Грибодова д.48

          .map#map
          .info-footer
            .info-footer__info
              p.
                Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .info-footer__menu
              ul.hamburger__list.hamburger__list--footer
                li.hamburger__list-item.hamburger__list-item--footer
                  a.hamburger__link(href="work.html") Мои работы
                li.hamburger__list-item.hamburger__list-item--footer
                  a.hamburger__link(href="blog.html") Блог
                li.hamburger__list-item.hamburger__list-item--footer
                  a.hamburger__link(href="about.html") Обо мне
                li.hamburger__list-item.hamburger__list-item--footer
                  a.hamburger__link(href="#") Авторизация

              include common/_social
            .info-footer__contacts
              ul.contacts__list.contacts__list--footer
                li.contacts__item.contacts__item--footer
                  a.skipe__link.skipe__link--footer(href="skype:korney197823") korney197823

                li.contacts__item.contacts__item
                  svg(width="24", height="24")
                    use(xlink:href='#skype')
                  a.mail__link.mail__link--footer(href="mailto:korney197823@gmail.com") korney197823@gmail.com
                li.contacts__item.contacts__item
                  a.phone__link.phone__link--footer(href="tel:+79883337098") +7&thinsp;988&thinsp;333&thinsp;70&thinsp;98
                li.contacts__item.contacts__item г. Геленджик, ул. Грибодова д.48



    include common/_footer
    script(async defer src="src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClxAKsxmcmHw-lhkpDbJPsKGuU0TwUIMk&callback=initMap")
    script(src="assets/js/app.js")