footer.footer.footer-welcome
  .footer__description-wrap
    p.footer__description.footer__description--name &copy; Денис Корниенко
    p.footer__description.footer__description--date создано с любовью в Loftschool 2016