nav.hamburger
  svg
    use(xlink:href="#hamburger")
  ul.hamburger__list
    li.hamburger__list-item
      a.hamburger__link(href="work.html") Мои работы
    li.hamburger__list-item
      a.hamburger__link(href="blog.html") Блог
    li.hamburger__list-item
      a.hamburger__link(href="about.html") Обо мне
    li.hamburger__list-item
      a.hamburger__link(href="#") Авторизация