.social.social--header
  a.social__link(href="https://vk.com/id29755814", target="_blank") Вконтакте
    i.icon.icon-vkontakte.icon--header
  a.social__link(href="https://github.com/korney197823", target="_blank") GitHub
    i.icon.icon-github.icon--header
  a.social__link(href="#") LinkedIn
    i.icon.icon-linkedin.icon--header