.about-me {
  background-color: #f2f0e8;
  padding-bottom: 10px;
}

.about-me__title {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'sansus_webissimoregular', sans-serif;
  font-size: 35px;
  line-height: 42px;
  color: #373e42;
  font-weight: 300;
}
.about-me__title-small {
  position: relative;
  margin-top: 23px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'sansus_webissimoregular', sans-serif;
  font-size: 21px;
  line-height: 28px;
  color: #373e42;
  font-weight: 300;
  &::after {
    position: absolute;
    content: '';
    height: 55px;
    width: 3px;
    top: 15px;
    left: 50%;
    background-color: #373e42;
    transform: rotate(90deg);
  }
}
.about-me-image__wrap {
  min-height: 286px;
}
.about-me__image {
  max-width: 100%;
}

.about-me__text {
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  line-height: 24px;
}