.avatar__wrap {
  &--header {
    margin-top: 72px;
    @media ($tablet-width) {
      margin-top: 30px;
    }
  }
}

.avatar-image__wrap {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50% 50%;
  overflow: hidden;
}
.avatar {
  max-width: 100%;
}