.card {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 40px;
  background-color: rgba(28, 31, 41, 0.5);
  @media ($tablet-width) {
    width: 348px;
  }
  @media ($desktop-width) {
    width: 380px;
  }
}
.card--back {

}
.card--front {
}

.card__title {
  margin-bottom: 0;
  font-family: "Roboto Medium", sans-serif;
  font-size: 21px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  &--header {
    margin-top: 25px;
  }
  &--back {
    text-transform: uppercase;
    font-family: "sansus_webissimoregular", sans-serif ;
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
  }
}
.card__text {
  margin-top: 7px;
  font-size: 14px;
  line-height: 24px;
  color: $white-color;
  text-align: center;
}
