.features {
  padding: 25px 10px;
  background-color: #f4f5f0;
}

.features__title {
  width: 160px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'sansus_webissimoregular', sans-serif;
  font-size: 21px;
  line-height: 28px;
  color: #373e42;
  font-weight: 300;
  &::after {
    position: absolute;
    content: '';
    height: 55px;
    width: 3px;
    top: 42px;
    left: 50%;
    background-color: #373e42;
    transform: rotate(90deg);
  }
}
.features__text {
  font-size: 14px;
  line-height: 24px;
  line-height: 24px;
}
.features__item-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto Medium", sans-serif;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  color: #373e42;
}
.feateres__item-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feateres__item-item {
  width: 50%;
}