.header {
  &--start {
    padding: 15px;
    display: flex;
    justify-content: center;
    @media ($tablet-width) {
      justify-content: flex-end;
    }
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
}