.header {
  &--about {
    background-color: #223b65;
    //min-height: 650px;
    height: 100vh;
  }
  &--start {
    padding: 15px;
    display: flex;
    justify-content: center;
    @media ($tablet-width) {
      justify-content: flex-end;
    }
  }
}
.header-top__wrap {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}