.icon {
  font-size: 28px;
  color: #0a44aa;
  &--header {
    color: $white-color;
    font-size: 21px;
    @media ($tablet-width) {
      font-size: 30px;
    }
  }
  &:hover {
    color: #004cd1;
    transition: 0.5s;
  }
}