.social {
  text-align: center;
  margin-top: 22px;
  &--header {
    margin-top: 0;
  }
}

.social__link {
  display: inline-block;
  font-size: 0;
  &:not(:first-of-type) {
    margin-left: 22px;
    @media ($tablet-width) {
      margin-left: 14px;
    }
  }
}