$blue-color: #0649bf;
$dark-blue-color: #083c96;
$white-color: #ffffff;

$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
$big-width: "min-width: 1200px";


$mobile-width-only: "max-width: 1199px";